<div>
    <h2 id="page-heading">
        <span>Seções</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-secao"
                [routerLink]="['/secao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="secaos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="nome"><span>Nome</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="modelo"><span>Modelo</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th>
                    <div class="row input-group">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Filtrar resultados" [(ngModel)]="username" style="margin: auto; border-top-right-radius: 0; border-bottom-right-radius: 0px;">
                        <div class="input-group-append">
                            <button class="btn btn-primary" style="background-color: #FFFFFF !important; border-color: #ced4da">
                                <fa-icon [icon]="'search'" style="color: #000000;"></fa-icon>
                            </button>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let secao of secaos ;trackBy: trackId">
                <td>{{secao.nome}}</td>
                <td>{{secao.modelo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/secao', secao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit" [disabled]="secao.id && !secao.editavel"
                                [routerLink]="['/secao', secao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit" [disabled]="secao.id && !secao.editavel"
                                [routerLink]="['/', { outlets: { popup: 'secao/'+ secao.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="secaos && secaos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
