<div>
    <h2 id="page-heading">
        <span>Registros</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-registro" [routerLink]="['/registro/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="row">
        <div class="col-6">
            <div class="col-12">
                <span class="bread-crumb"><span class="bold">Data Inicial:</span> 01/10/201 - </span>
                <span class="bread-crumb"><span class="bold">Data Final:</span> 18/10/2018</span>
            </div>
            <div class="col-12">
                <span class="bread-crumb"><span class="bold">Modelo:</span> Todos - </span>
                <span class="bread-crumb"><span class="bold">Seção:</span> Todos</span>
            </div>
        </div>
        <div class="col-6">
            <div>
                <div><span class="bold">Rótulos:</span></div>
                <div class="list-rotulos">
                    <span class="rotulo-badge">Java</span>
                    <span class="rotulo-badge">ERRO</span>
                    <span class="rotulo-badge">PHP</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="table-responsive" *ngIf="registros">
        <table class="table table-striped">
            <tbody>
            <tr *ngFor="let registro of registros ;trackBy: trackId">
                <td>
                    <div>
                        <div>
                            <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group float-right">
                                <button type="submit" [routerLink]="['/registro', registro.id, 'view' ]" class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                </button>
                                <button type="submit" [routerLink]="['/registro', registro.id, 'edit']" class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                </button>
                                <button type="submit" [routerLink]="['/', { outlets: { popup: 'registro/'+ registro.id + '/delete'} }]"
                                        replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>


                            <div [routerLink]="['../registro', registro.id , 'view' ]" class="custom-table-title">
                                <span>{{registro.titulo}}</span>
                                <span class="mx-5 float-right">
                                    <span [hidden]="!(registro && registro.publico)" class="info small"><fa-icon [icon]="'users'"></fa-icon></span>
                                    <span class="small"><span class="bold">Código: </span>{{registro.id}}</span>
                                </span>
                            </div>
                        </div>

                        <div class="custom-table-title" *ngIf="registro.secaoId">
                            <a [routerLink]="['../secao', registro.secaoId , 'view' ]">{{registro.secaoNome}}</a>
                        </div>
                        <div class="custom-table-text-area" [innerHTML]="registro.texto"></div>

                    </div>
                    <div>
                        <div class="custom-table-title" *ngIf="registro.secaoId">
                            <a [routerLink]="['../secao', registro.secaoId , 'view' ]">Rótulos:</a>
                        </div>
                        <div class="list-rotulos">
                            <span class="rotulo-badge" *ngFor="let rotulo of registro.rotulos; trackBy: trackId">{{rotulo.rotulo}}</span>
                        </div>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="registros && registros.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>

