<div style="overflow: auto">
    <h2 id="page-heading">
        <span>Registros</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-registro" [routerLink]="['/registro/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Registro
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <span class="bread-crumb"><span class="bold">Data Inicial:</span> 01/10/201 - </span>
            <span class="bread-crumb"><span class="bold">Data Final:</span> 18/10/2018</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="bread-crumb"><span class="bold">Modelo:</span> Todos - </span>
            <span class="bread-crumb"><span class="bold">Seção:</span> Todos</span>
        </div>
    </div>
    <div class="table-responsive" *ngIf="registros">
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let registro of registros ;trackBy: trackId">
                    <td>
                        <span class="custom-table-title">{{registro.titulo}} </span><br>
                        <span class="custom-table-title" *ngIf="registro.secaoId">
                            <a [routerLink]="['../secao', registro.secaoId , 'view' ]" >{{registro.secaoNome}}</a>
                        </span>
                        <br>
                        <span class="custom-table-text-area">{{registro.texto}}</span><br>
                        <span class="custom-table-title" *ngIf="registro.secaoId">
                            <a [routerLink]="['../secao', registro.secaoId , 'view' ]" >Rótulos:</a>
                        </span>
                        <br>
                        <div class="list-rotulos">
                            <span class="rotulo-badge" *ngFor="let rotulo of registro.rotulos; trackBy: trackId">{{rotulo.rotulo}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="registros && registros.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>

<style>
    .bread-crumb{
        font-size: 10px;
    }

    .bold{
        font-weight: bold;
    }

    .custom-table-title{
        font-size: 17px;
        font-weight: bold;
    }

    .custom-table-text-area{
        font-size: 15px;
    }

    .list-rotulos{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .rotulo-badge{
        padding: 8px;
        border-radius: 30px;
        background-color: #DDD;
        color: #000000;
        font-weight: bold;
        margin-left: 3px;
        margin-right: 3px;
        font-size: 10px;
        margin-bottom: 3px;
    }
</style>
