<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-rotulo-heading">Create or edit a Rotulo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!rotulo.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="rotulo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rotulo">Rotulo</label>
                    <input type="text" class="form-control" name="rotulo" id="field_rotulo"
                        [(ngModel)]="rotulo.rotulo" required minlength="2" maxlength="35"/>
                    <div [hidden]="!(editForm.controls.rotulo?.dirty && editForm.controls.rotulo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rotulo?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rotulo?.errors?.minlength">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.rotulo?.errors?.maxlength">
                        This field cannot be longer than 35 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
