<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div>
                <h2 id="jhi-rotulo-heading-create">
                    <div *ngIf="!rotulo.id; else rotulo_heading_update">
                        <p>Criar rótulo</p>
                    </div>
                    <ng-template #rotulo_heading_update>
                        <p>Editar rótulo</p>
                    </ng-template>
                </h2>
                <div class="form-group">
                    <label class="form-control-label" for="field_rotulo">Rotulo</label>
                    <input type="text" class="form-control" name="rotulo" id="field_rotulo"
                           [(ngModel)]="rotulo.rotulo" required minlength="2" maxlength="35"/>
                    <div [hidden]="!(editForm.controls.rotulo?.dirty && editForm.controls.rotulo?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.rotulo?.errors?.required">
                            Campo obrigatório.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.rotulo?.errors?.minlength || !editForm.controls.rotulo?.errors?.maxlength">
                           Campo precisa ter entre 2 e 35 caracteres.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
