<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse"
           data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
           aria-label="Toggle navigation" (click)="toggleNavbar()">
            <fa-icon [icon]="'bars'"></fa-icon>
        </a>
        <a class="navbar-brand float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo navbar-title">Kbase</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <div class="row" style="width: 100%;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" style="padding-right: 0px !important;">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="username" id="username" placeholder="Realiza sua pesquisa" [(ngModel)]="username" style="border-top-right-radius: 0; border-bottom-right-radius: 0px;">
                                        <div class="input-group-append">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <div ngbDropdown class="d-inline-block">
                                                    <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle style="border-radius: 0px">
                                                        <fa-icon [icon]="'filter'" style="color: #FFFFFF;"></fa-icon>&nbsp;
                                                    </button>
                                                    <div ngbDropdownMenu style="padding: 15px">
                                                        <h4 class="dropdown-header" style="font-size: 1rem;color: black;">Busca Avançada</h4>
                                                        <h5 class="dropdown-header">Buscar por período</h5>
                                                        <div class="row input-group" style="width: 20em">
                                                            <div class="col-6">
                                                                <h4 class="dropdown-header header">Inicio</h4>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <input class="form-control" placeholder="dd-mm-yyyy" [placeholder]="dd-mm-yyyy"
                                                                               name="inicio" [(ngModel)]="dateInicio" ngbDatepicker #d="ngbDatepicker">
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                                                                <fa-icon [icon]="'calendar'" style="color: #000000;"></fa-icon>&nbsp;
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-6" style="width: 20em">
                                                                <div class="form-group">
                                                                    <h4 class="dropdown-header header">Fim</h4>
                                                                    <div class="input-group">
                                                                        <input class="form-control" placeholder="dd-mm-yyyy" [placeholder]="dd-mm-yyyy"
                                                                               name="fim" [(ngModel)]="dateFim" ngbDatepicker #d="ngbDatepicker">
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                                                                <fa-icon [icon]="'calendar'" style="color: #000000;"></fa-icon>&nbsp;
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h5 class="dropdown-header">Buscar por tipo</h5>
                                                        <div class="row">
                                                            <div class="col-md-12" style="width: 20em">
                                                                <div class="form-group">
                                                                    <select class="form-control" name="tipo" [(ngModel)]="tipo" id="field_model" required>
                                                                        <option value="F_A_Q">F.A.Q.</option>
                                                                        <option value="ERRO">Erro</option>
                                                                        <option value="ARTIGO">Artigo</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h5 class="dropdown-header">Buscar por Secao</h5>
                                                        <div class="row">
                                                            <div class="col-md-12" style="width: 20em">
                                                                <div class="form-group">
                                                                    <select class="form-control" name="secao" [(ngModel)]="secao" id="field_mode2" required>
                                                                        <option value="{{tipo + ' 1 '}}">{{tipo + " 1 "}}</option>
                                                                        <option value="{{tipo + ' 2 '}}">{{tipo + " 2 "}}</option>
                                                                        <option value="{{tipo + ' 3 '}}">{{tipo + " 3 "}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" style="background-color: #FFFFFF !important; border-color: #FFFFFF">
                                                    <fa-icon [icon]="'search'" style="color: #000000;"></fa-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        <ul class="navbar-nav ml-auto" style="justify-content: space-around">
            <li *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/registro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <div class="text-center">
                        <fa-icon [icon]="'file-alt'" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="text-center">
                        <span>Registro</span>
                    </div>
                </a>
            </li>
            <li *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/chave-erro" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <div class="text-center">
                        <fa-icon [icon]="'exclamation-triangle'" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="text-center">
                        <span>Erro/Exceção</span>
                    </div>
                </a>
            </li>
            <li *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/glossario" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <div class="text-center">
                        <fa-icon [icon]="'clipboard-list'" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="text-center">
                        <span>Glossário</span>
                    </div>
                </a>
            </li>
            <li *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/secao" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <div class="text-center">
                        <fa-icon [icon]="'sitemap'" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="text-center">
                        <span>Seção</span>
                    </div>
                </a>
            </li>
            <li *ngSwitchCase="true" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/rotulo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <div class="text-center">
                        <fa-icon [icon]="'tag'" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="text-center">
                        <span>Rótulo</span>
                    </div>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="usuario" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <div class="text-center">
                        <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="text-center">
                        <span>Usuário</span>
                    </div>
                </a>
            </li>
            <li>
                <a *ngSwitchCase="true" class="nav-link" (click)="logout()" id="logout">
                    <div class="text-center">
                        <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="text-center">
                        <span>logout</span>
                    </div>
                </a>
            </li>
            <li>
                <a *ngSwitchCase="false" class="nav-link" (click)="login()" id="login">
                    <div class="text-center">
                        <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                    </div>
                    <div class="text-center">
                        <span>login</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
