<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse"
           data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
           aria-label="Toggle navigation" (click)="toggleNavbar()">
            <fa-icon [icon]="'bars'"></fa-icon>
        </a>
        <a class="navbar-brand float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo navbar-title">Kbase</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
         [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto"><!--ngbDropdown class="nav-item dropdown pointer"-->
            <li *ngSwitchCase="true" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">

                <a class="nav-link" routerLink="/glossario" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon [icon]="'clipboard-list'" [fixedWidth]="true"></fa-icon>
                    <span>Glossário</span>
                </a>


            </li>
            <li *ngSwitchCase="true" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/rotulo" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon [icon]="'tag'" [fixedWidth]="true"></fa-icon>
                    <span>Rótulo</span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">

                <a class="nav-link" routerLink="usuario" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <fa-icon [icon]="'user'" [fixedWidth]="true"></fa-icon>
                    <span>Usuário</span>
                </a>
            </li>

            <li>
                <a *ngSwitchCase="true" class="nav-link" (click)="logout()" id="logout">
                    <fa-icon [icon]="'sign-out-alt'" [fixedWidth]="true"></fa-icon>
                    <span>logout</span>
                </a>
                <a *ngSwitchCase="false" class="nav-link" (click)="login()" id="login">
                    <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                    <span>login</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
